@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
    font-family: "Success Icons";
    font-style: normal;
    font-weight: 400;
    src:  url("../font/success_icon.woff") format("woff"),
        url("../font/success_icon.woff2") format("woff2");
    font-display: swap;
}
