/* 
Collapse styles
============================================= */
.collapse + .collapse {
    margin-top: 40px;
}

/* [Collpase] - title */
.collapse[open] .collapse__title:after {
    transform: rotate(45deg);
}

.collapse__title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 15px;

    color: var(--success-color5);
    font: 700 16px/1.4 var(--font-family__text);

    cursor: pointer;
}

.collapse__title:after {
    content: var(--icon-plus);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: var(--success-color5);

    color: var(--success-color1);
    font-family: var(--font-family__icons);

    transition: var(--base-animation);
}

.collapse__title::marker {
    display: none;
}

/* [Collpase] - content */
.collapse__box {
    display: grid;
    grid-row-gap: 20px;
    margin-top: 30px;
    font: 400 16px/1.4 var(--font-family__text);
}

.collapse__box b {
    font-weight: 700;
}

.collapse__box ul {
    list-style: none;
}

.collapse__box ul li {
    position: relative;
    padding-left: 18px;
}

.collapse__box ul li:before {
    content: '';

    position: absolute;
    top: 10px;
    left: 0;

    width: 8px;
    border-bottom: 1px solid var(--success-color7);
}

/* For Desktop =================================== */
@media screen and (min-width: 1024px) {
    .collapse__title {
        font-size: 24px;
    }
}
