.consulting .title{
    margin-bottom: 10px;
    font: 600 25px var(--font-family__title);
}

.consulting .text {
    line-height: 1.7;
}

/* Item ===================================== */
.consulting .item {
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
    
}

.consulting .type {
    padding: 30px;
    text-align: center;
    color: var(--success-color1);
}

._yellow {
    background-color: var(--success-color4);
}

._violet {
    background-color: var(--success-color5);
}

.icon {
    font-size: 50px;
}

.name {
    margin: 10px 0 20px;
    font: 16px var(--font-family__title);
}

.number {
    font: 600 40px var(--font-family__title);
}
